
<div class="row">
	<div class="col-md-offset-2 col-md-10">
		<p>Put your email into box and we will send your password</p>
	</div>	
</div>
<p></p>
<form id="signupform" class="form-horizontal" role="form" method="post">

	<div class="form-group">
		<label for="email" class="col-md-2 control-label">Email</label>
		<div class="col-md-10">
			<input type="text" class="form-control" name="email"
				placeholder="Email Address" required="">
		</div>
	</div>

	<div class="form-group">
		<!-- Button -->
		<div class="col-md-offset-2 col-md-10">
			<button id="btn-signup" type="submit"
				class="btn btn-info btn-lg btn-block">
				<i class="icon-hand-right"></i> Send
			</button>

		</div>
	</div>

</form>